{
\"Rules\": [
    {
      \"ApplyServerSideEncryptionByDefault\": {
        \"SSEAlgorithm\": \"aws:kms\",
        \"KMSMasterKeyID\": \"arn:aws:kms:{{ aws_region }}:{{ aws_account_id }}:key/{{ kms_key_info|json_query('keys[0].key_id') }}\"
      }
    }
  ]
}
