{
\"Rules\": [
    {
      \"ApplyServerSideEncryptionByDefault\": {
        \"SSEAlgorithm\": \"aws:kms\",
        \"KMSMasterKeyID\": \"{{ kms_key_info|json_query('keys[0].key_id') }}\"
      }
    }
  ]
}